.calendar {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.headings > td {
  text-align: center;
  vertical-align: middle;
}

.weeks {
  font-weight: bold;
  color: rgb(75, 75, 75);
}